* {
    margin: 0;
    padding:0;
}


.header {
    height: 100px;
}
.navbar-style {
    box-shadow: 0 5px 10px;
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 2px !important;
}

.logo {
    height: 80px;
    padding: 2px 10px;
}

.icon-bar {
    background: darkorange;
}

li a {
    color: #333;
}

.big-text {
    font-size:55px;
    margin:20px 0;
    color: darkorange;
}

a.btn {
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first {
    background-color: darkorange;
    color: #fff;
}
a.btn-second {
 background: transparent;
 color: #333;
 border: 1px solid darkorange;
}
html,body {
    min-height: 100px;
}
.container {
    min-height: 100px;
}

.footer {
    background-color: #222;
    position: relative;
    height: auto;
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 50px;
    
}

footer-nav {
    /* margin-left: 70px; */
    text-align:  right;
    list-style: none;
}

.footer-nav li {

    display:-webkit-box;
}

.footer-content {
    /* padding-left: 70px; */
    text-align: center;
    
}

.form-group {
    padding-bottom: 30px;
    padding-top: 30px;
    /* text-align: center; */
}




html { 
    background: url(./../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-inner {
      height: 700px;
  }

  .img-responsive {
    margin-top: 20px;
  }